:root {
  --font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", sans-serif;
  --black: #101214;
  --white: #f8f9fa;
  --bg: var(--white);
  --fg: var(--black);
  --faded-black: #202124;
  --faded-white: #eef0f2;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: var(--fg);
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
header {
  min-height: 60vmin;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  background: conic-gradient(
    from 0deg,
    hsl(216deg 6% 8%) 0deg 45deg,
    hsl(216deg 6% 89%) 45deg 90deg,
    hsl(216deg 6% 91%) 90deg 135deg,
    hsl(216deg 6% 97%) 135deg 180deg,
    hsl(216deg 6% 99%) 180deg 225deg,
    hsl(216deg 6% 96%) 225deg 270deg,
    hsl(216deg 6% 94%) 270deg 315deg,
    hsl(216deg 6% 4%) 315deg 360deg
  );
}
.hh {
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hh.top {
  padding-bottom: 2vmin;
}
.hh.bottom {
  padding-bottom: 1vmin;
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 10vmin, 7rem);
  margin: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
  margin: 0;
  height: auto;
}
#logo {
  position: relative;
  z-index: 1;
  color: #fff;
  max-width: 20vmin;
}
#lion-text {
  display: inline-flex;
  align-items: center;
}
#separator {
  user-select: none;
  font-family: serif;
  font-size: 95%;
}
#headline {
  padding: 5vmin 1.75rem;
  background-color: #fff;
  text-align: center;
  font-size: 17px;
  max-width: 44rem;
  margin: auto;
}
#tagline {
  font-size: clamp(1.125rem, 4vmin, 3rem);
  font-weight: 500;
  margin: 0 0 1.75rem;
  line-height: 1.15;
}

section {
  padding: 8vmin 1rem;
}
.inner {
  max-width: 54rem;
  margin: 0 auto;
}

h3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
  line-height: 1;
}
#services-links {
  padding: 1rem;
  max-width: 20rem;
  margin: auto;
}
#services-links a {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
  background-color: hsl(216deg 80% 20%);
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 0 0.5rem;
  color: hsl(216deg 4% 98%);
  transform: scale(1);
  transition: all 0.2s;
}
#services-links a:hover,
#services-links a:focus {
  transform: scale(1.025);
  background-color: hsl(216deg 60% 12%);
  color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
@media (width >= 32rem) {
  #services-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 56rem;
  }
  #services-links a {
    margin: 0;
    letter-spacing: -0.5px;
  }
}
@media (width > 45rem) {
  #services-links {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (width >= 49rem) {
  #services-links a {
    letter-spacing: normal;
  }
}

article {
  padding-top: 6vmin;
}
article section:nth-child(odd) {
  background-color: hsl(216deg 4% 98%);
}

nav {
  background-color: #fff;
  position: static;
  z-index: 2;
  top: -3.5rem;
  height: 3.5rem;
  padding: 0 4.5vmin;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: -4rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.5rem;
}
nav.sticky {
  top: 0;
}
#nav-logo {
  width: 2.75rem;
  height: 2.75rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 2rem;
  height: 2.75rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  border-radius: 2rem;
  user-select: none;
  text-decoration: none;
  transform: scale(1);
  text-transform: none;
  transition: all 0.2s;
  cursor: pointer;
  background-image: none;
  margin: 1rem auto;
  color: hsl(216deg 90% 8%);
  border: 0.125rem solid hsl(216deg 90% 30%);
  background-color: hsl(216deg 60% 97%);
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
  opacity: 0.96;
}
.btn:hover,
.btn:focus {
  color: hsl(216deg 90% 5%);
  text-decoration: none;
  opacity: 1;
}
.btn:hover {
  transform: scale(1.025);
  border-color: hsl(216deg 90% 25%);
  background-color: hsl(216deg 90% 95%);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.btn:focus {
  transform: scale(1.01);
  border-color: hsl(216deg 90% 20%);
  background-color: hsl(216deg 90% 94%);
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.08);
}
.nav-link {
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem 1.125rem 0.5rem 1rem;
}
.nav-link-icon {
  width: 19px;
  height: 19px;
}
.nav-link-text {
  line-height: 1.15;
}

h2 {
  font-size: clamp(1.5rem, 7vmin, 2.25rem);
  font-weight: 700;
  margin: 1rem 0;
  line-height: 1;
  padding-bottom: 1rem;
  color: hsl(216deg 90% 20%);
  border-bottom: 0.125rem solid #036;
}
h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.5rem 0 0.75rem;
}
p {
  margin: 0.5rem 0 1rem;
}
article p {
  color: #333;
}
strong {
  font-weight: bolder;
}
ul,
ol {
  margin: 0.5rem 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: "â–";
}
li,
li p {
  margin: 0 0 0.5rem;
  line-height: 1;
  padding-left: 0.25rem;
  font-weight: 500;
}
#contact {
  border-top: 0.25rem solid #036;
  padding-bottom: 2rem;
  text-align: center;
}
#contact .inner {
  max-width: 34rem;
}
#contact h2 {
  font-weight: 600;
  border-bottom: none;
  padding-bottom: 0;
}
a {
  text-decoration: underline;
  color: hsl(216deg 96% 25%);
}
#send-msg-btn {
  max-width: 15rem;
}

@media (width >= 42rem) {
  ul,
  ol {
    column-count: 2;
  }
}
@media (width >= 39rem) {
  .service p span {
    display: inline-block;
  }
  #services {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
  }
}
@media (width < 39rem) {
  .services-list {
    gap: 12vmin;
  }
  #star {
    width: 20vmin;
    height: 20vmin;
  }
}
@media (width < 35.5rem) {
  .services-list {
    gap: 6vmin;
  }
  #star {
    width: 15vmin;
    height: 15vmin;
  }
}
@media (width < 33rem) {
  #services {
    max-width: 25rem;
    height: auto;
  }
  .services-list {
    display: block;
    height: auto;
  }
  #star {
    display: none;
  }
  .service {
    padding: 1.5rem 0.5rem;
    margin: 5vmin auto;
  }
}
@media (width < 25rem) {
  .service p span {
    display: inline-block;
  }
}
footer {
  border-top: 0;
  border-bottom: 8rem solid hsl(216deg 50% 16%);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}
